@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}
.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 370px;
  width: 100%;
  border-radius: 24px;
  padding: 25px;
  background: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}
.profile-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 35%;
  width: 100%;
  background-image: url("bg.jpg");
  background-size: cover;
  border-radius: 24px 24px 0px 0px;
}
.image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: blue;
  padding: 3px;
  margin-bottom: 10px;
}
.profile-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid white;
}
.text-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name {
  font-size: 22px;
  font-weight: 500;
}
.job {
  font-size: 15px;
  font-weight: 400;
}
.social-media {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  width: 34px;
  margin: 0px 10px;
  font-size: 20px;
  color: white;
  border-radius: 50%;
  background-color: rgb(60, 60, 255);
  text-decoration: none;
}
.buttons {
  display: flex;
  align-items: center;
  margin-top: 25px;
}
.button {
  font-size: 14px;
  font-weight: 400;
  background-color: blue;
  color: white;
  border-radius: 24px;
  padding: 8px 25px;
  border: none;
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover {
  background-color: rgb(105, 105, 255);
}
.analytics {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.data {
  display: flex;
  align-items: center;
  color: #333;
  padding: 0 10px;
  border-right: 2px solid rgb(127, 127, 127);
}
.data:last-child {
  border-right: none;
}
.data i {
  font-size: 23px;
  margin-right: 6px;
}
